@font-face {
    font-family: "open_sansregular";
    src: url(../fonts/OpenSans-Regular-webfont.eot);
    src: url(../fonts/OpenSans-Regular-webfont.svg);
    src: url(../fonts/OpenSans-Regular-webfont.ttf);
    src: url(../fonts/OpenSans-Regular-webfont.woff);
}
@font-face {
    font-family: "open_sanssemibold";
    src: url(../fonts/OpenSans-Semibold-webfont.eot);
    src: url(../fontsOpenSans-Semibold-webfont.svg);
    src: url(../fonts/OpenSans-Semibold-webfont.ttf);
    src: url(../fonts/OpenSans-Semibold-webfont.woff);
}
/*=== General ===*/
body {
    font-family: open_sansregular;
    font-size: 12px;
    background: url(../images/bg-sky.jpg);
}
h1 {
    font-size: 30px;
    
}

/*=== Main ===*/
.container {
    width: 100%;
    max-width: 425px;
    margin: 54px auto;
    padding: 47px 45px;
    background: url(../images/bg-fotm.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
#loginform {
    position: relative;
    z-index: 10;
}
.field {
    width: 100%;
    font-size: 0;
    margin-bottom: 12px;
}
.field .left, .field .right {
    display: inline-block;
    font-size: 12px;
}
.field, .field * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.field .left {
    width: 30%;
    text-align: right;
    padding-right: 11px;
}
.field .right {
    width: 70%;
    text-align: left;
}

input.full {
    width: 100%;
    border: 1px solid #0d2c52;
    padding: 10px 7px;
    color: #ffffff;
    background: #1e4f8a;
}
